
body {
    background-color: #ffffff;
    font-family: "Roboto",sans-serif;
    font-size: 14px; 
    color:#757575;
    --blue-color: #2196f3;
    --font-dark-grey-color: #212121;
    --background-grey-color: #2F303A;
    --background-white-color: #ffffff;
    --background-light-grey-color: #F5F4FA;
    --blue-hover-color: #188CE8;
    --black-color: #000000;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

:link {
    text-decoration:none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto; 
}

h2 {
    font-family: inherit;
    color: var(--font-dark-grey-color);
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 30px;
}

h3 {
    font-family: inherit;
    color: var(--font-dark-grey-color);
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    line-height: 36px;
}

.section-container {
    width: 100%;
    background-color: var(--background-white-color);
    display: flex; 
    justify-content: center;   
    align-items: center;
    padding: 60px 15px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
    justify-content: center;
}

#images-section {
    display: none;
}

.header-container {
    background-color: var(--background-white-color);
    width: 100%;
    border-bottom: 1px solid #ECECEC;
    gap: 93px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.global-header .header-logo {
    color: var(--black-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    display: block;
}

.header-logo-web {
    color: var(--blue-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
}

.global-header {
    background-color: var(--background-white-color);
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 93px;
}

.nav-container {
    display: none;
}

.contact-container {
    display: none;
}

.request-section {
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/background-image\-m.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45vh;
    gap: 30px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .request-section {
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/background-image\-m-2x.jpg);
    }
}

.request-section h1{
    font-family: inherit;
    color: var(--background-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 3%;
}
    
.request-section .request-button {
    font-family: inherit;
    font-weight: 700;
    color:var(--background-white-color);
    background-color: var(--blue-color);
    cursor: pointer;
    border: none;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 50px;
    border-radius: 4px;
    line-height: 30px;
    transition: background-color var(--transition), color var(--transition);
}

.request-section .request-button:hover,
.request-section .request-button:focus,
.request-section .request-button:active {
    background-color: var(--blue-hover-color);
    color: var(--background-white-color);
    cursor: pointer;
}



.list .what-we-do {
    flex-basis: calc((100%-120px)/4);
    color: inherit;
    font-family: inherit;
    line-height: 24px;
    margin: 0;
}

.what-we-do .what-we-do-title {
    color: var(--font-dark-grey-color);
    font-weight: 700;
    text-align: center;
    line-height: 1,5;
    margin: 0;
    padding-top: 30px;
}

.list .what-we-do p {
    width: 290px;
}

.what-we-do-item {
    background-color: var(--background-light-grey-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.what-we-do-icon {
    width: 64px;
}

.what-we-do-label {
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    color: var(--background-white-color);
    text-transform: uppercase;
    width: 370px; 
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0;
}

.our-team-section {
    background-color: var(--background-light-grey-color);
    width: 100%;
}

.our-team-container {
    background-color: var(--background-light-grey-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 30px;
}

.our-team-item {
    background-color: var(--background-white-color);
    display: block;
    padding: 0 15px;
}

.team-image {
    width: 300px;
}

.our-team-footer {
    color: inherit;
    font-family: inherit;
    text-align: center;
    line-height: 19px;
    display: block;
    padding: 25px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    margin: 0;
}

.our-team-footer p {
    margin: 0;
}

.our-team-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.our-team-social-list {
    display: flex;
    padding-top: 16px;
}

.our-team-social-item {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: var(--background-white-color);
    margin-right: 10px;  
}

.our-team-social-item .social-image {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: var(--background-white-color);
    fill: #757575;
    transition: background-color var(--transition), fill var(--transition), border var(--transition);
}

.our-team-social-item .social-icon:hover,
.our-team-social-item .social-icon:focus {
    background-color: var(--blue-hover-color);
    fill: var(--background-white-color);
    border-radius: 50px;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.our-team-social-item .social-icon {
    width: 44px;
    height: 44px;
    padding-left: 12px;
}

.regular-costumers-section {
    padding-top: 0;
}

.regular-costumers-item { 
    color: inherit;
    margin: 0;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: block;
    transition: border var(--transition);
}

.regular-costumers-item:hover,
.regular-costumers-item:focus {
    border: 1px solid rgba(33, 150, 243, 1);
    border-radius: 4px;
    cursor: pointer;
}

.regular-costumers-image {
    width: 210px;
    height: 92px;
    fill: #afb1b8;
    transition: fill var(--transition);
}

.regular-costumers-image:hover,
.regular-costumers-image:focus {
    fill: var(--blue-hover-color);
    cursor: pointer;
}  

.global-footer {
    background-color: var(--background-grey-color);
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.global-footer-container {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.global-footer .global-footer-contact {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 0;
}

.logo-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-footer  .logo-footer {
    color: var(--background-white-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    line-height: 30.52px;
    display: flex;
}

.global-footer .logo-footer .logo-footer-web {
    color: var(--blue-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
} 

.global-footer .address-container {
    margin: 0;
    padding-left: 0;
    line-height: 16px;
    padding-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.address-container li {
    padding-top: 12px;

}

address {
    color:var(--background-white-color);
    font-family: inherit;
    line-height: 16px;
    font-style: normal;
} 

.global-footer .contact-footer {
    font-family: inherit;
    font-style:normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.social-footer-container {
    display: block;
}

.social-title {
    color: var(--background-white-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
} 

.social-footer-images {
    display: block;  
}  

.social-footer {
    display: inline-block;
    padding-right: 10px; 
}

.social-footer-image {
   display: flex; 
   justify-content: center;
   align-items: center;
   transition: background-color var(--transition), ;
}

.social-footer-icon {
    display: block;
    margin: 0 auto;
    width: 44px;
    height: 44px;
    padding-left: 12px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--background-white-color);
}

.social-footer-image:hover, 
.social-footer-image:active {
    background-color: var(--blue-hover-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-top: 20px;
}

.subscribe-title {
    font-family: inherit;
    color: var(--background-white-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-email {
    width: 90vw;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #FFFFFF4D;
    background-color: var(--background-grey-color);
    box-shadow: 0px 4px 4px 0px #00000026;
    padding-left: 16px;
}

.input-email:focus {
    border: var(--blue-color);
    color: var(--background-white-color);
    background-color: var(--background-grey-color);
}

.input-email::placeholder {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 15px 0;
    color: #FFFFFF99;
}

.subscribe-button {
    width: 60vw;
    height: 50px;
    border-radius: 4px;
    background-color: var(--blue-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--background-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: var(--blue-color);
    gap: 25px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000026;
    transition: background-color (--transition);
}

.subscribe-button:hover {
    background-color: var(--blue-hover-color);
}

.subscribe-button .send-svg {
    width: 24px; 
    height: 24px;
    fill: currentColor;
}

.portofolio-filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portofolio-section {
    background-color: var(--background-white-color);
    padding-top: 60px;
    padding-bottom: 60px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.portofolio-section .portofolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filter {
    padding: 0 15px 40px 15px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.filter .filter-button {
    color: var(--font-dark-grey-color);
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    line-height: 26px;
    background-color:var(--background-light-grey-color);
    border: 0;
    padding: 6px 24px;
    transition: background-color var(--transition), box-shadow var(--transition);
}

.filter .filter-button:hover {
    background-color: var(--background-light-grey-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
}

.filter .filter-button:focus,
 .filter .filter-button:active {
    color: var(--background-white-color);
    background-color: var(--blue-color);
    border-color: var(--blue-color);
    border-radius: 4px;
    box-shadow: none;
}

.filter-list .filter-image {
    position: relative;
    display: block;
    border: 1px;
    border-radius: 1px;
    width: 310px;
    overflow: hidden;
    transition: transform var(--transition);
}

.filter-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
} 

.filter-image:hover .overlay {
    transform: translatey(0);
}

.filter-card {
    transition: border var(--transition), 
    box-shadow var(--transition);
}

.filter-card:hover,
.filter-card:active {
    border: 1px solid rgba(238, 238, 238, 1);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.filter-card-footer {
    border-right: 1px solid #EEEEEE;
    border-left : 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 24px 20px 24px ;
    line-height: 30px;
}

.filter-list .filter-card .filter-title {
    color: var(--font-dark-grey-color);
    font-family: inherit;
    font-weight: 700;
    text-align: left;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 30px;
    padding: 0;
}

.modal {
    position: fixed;
    width: 100vw; 
    height: 100vh; 
    top: 0; 
    left: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);   
}

.modal-content {
    position: relative;
    background-color: var(--background-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    padding: 8px;
}

.is-hidden {
    visibility: hidden;
}

.close-btn {
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
}

.close-icon {
    fill: rgba(0, 0, 0, 1);
    width: 11px;
    height: 11px;
    cursor: pointer;
}

.close-icon:hover,
.close-icon:focus {
    fill: var(--blue-hover-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px;
}

.contact-form-title {
    font-family: inherit;
    color: var(--font-dark-grey-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.input-container svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: calc(50% - 9px);
    left: 12px;
    transition: fill var(--blue-color);
}

.textfield {
    height: 40px;
    padding: 11px 12px 11px 42px;
}

textarea {
    height: 120px;
    padding: 12px 16px;
}

textarea::placeholder {
    font-family: var(--text-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.textfield,
textarea {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    transition: border (--transition);
}

.textfield:focus,
textarea:focus {
    border: 1px solid var(--blue-color);
}

.textfield:focus+svg {
    fill: var(--blue-color);
}

.form-label {
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
}

.terms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    gap: 8px;
}

.check {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    position: relative;
}

.check a {
    color: var(--blue-color);
}

.check__input {
    position: absolute;
    appearance: none;
    opacity: 0; 
}

.checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--font-dark-grey-color);
    border-radius: 2px;
    vertical-align: sub;
}

.icon-checkbox {
    display: block;
    width: 16px;
    height: 15px;
}

.check__input:checked + .checkbox {
    background-size: contain;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--blue-color);
    border: 2 px solid var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    box-sizing: content-box; 
    padding: 10px 80px 10px 80px;
    border-radius: 4px;
    background: var(--blue-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    color: var(--background-white-color);
    border-color: var(--blue-color);
    box-shadow: 0px 4px 4px 0px #00000026;
    transition: border var(--transition), box-shadow var(--transition)
}

.submit-button:hover {
    background: var(--blue-hover-color);
    box-shadow: 0px 4px 4px 0px #00000026;
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu-button svg {
    width: 40px;
    height: 40px;
}

.js-menu-container {
    display: none;
}

.js-menu-container.is-open {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--background-white-color);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.js-menu-container .js-close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    transition: color var(--transition);
    cursor: pointer;
    padding: 0;
}
  
.js-menu-container .js-close-menu svg:hover,
.js-menu-container .js-close-menu svg:focus {
    fill: var(--blue-color);
}

.js-menu-container .js-close-menu svg {
    width: 40px;
    height: 40px;
    fill: var(--font-dark-grey-color);
}

.menu-drawer-navigation {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    padding: 48px 15px;
    gap: 200px;
}

.menu-navigation {
    font-family: inherit;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    gap: 32px;
} 

.menu-navigation .current {
    color: var(--blue-color);
}

.menu-navigation a {
    color: var(--font-dark-grey-color);
}

.menu-navigation a:hover,
.menu-navigation a:focus {
    color: var(--blue-color);
}

.menu-navigation-contact {
    display: flex;
    flex-direction: column;
    gap: 64px; 
}

.menu-contact {
    display: flex;
    flex-direction: column ;
    gap: 32px;
}

.menu-phone {
    font-family: inherit;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--blue-color);
}

.menu-email {
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: inherit;    
}

.menu-social {
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu-social li {
    border-right: 1px solid #21212133;
    padding-right: 5px;
}

.menu-social li:last-child {
    border: none;
}

.menu-social a {
    color: var(--blue-color);
}

/* Tablet */
@media screen and (min-width: 768px) {
    .nav-container {
        color: var(--font-dark-grey-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 93px;   
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 0;
        justify-content: center;
    }

    .main-navigation {
        display: flex;
        padding: 0;
        margin: 0;
        font-family: inherit;
        font-weight: 500;
    }  

    .main-navigation ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        gap: 50px;
    } 

    .main-navigation ul li {
        padding-top: 32px;
        padding-bottom: 32px;
    }  

    .global-header a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .main-navigation li {
        position: relative;
    }  

    .main-navigation a {
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--font-dark-grey-color);
        transition: color var(--transition);
    }  

    .main-navigation li:visited {
        color: var(--font-dark-grey-color);
        text-decoration: none;
    } 

    .main-navigation li a:hover,
    .main-navigation li a:focus {
        color: var(--blue-color);
        cursor: pointer;
    }  

    .main-navigation li a:active {
        color: var(--blue-color);
    }

    .main-navigation .current {
        color: var(--blue-color);
    }

    .main-navigation .after-link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--blue-hover-color);
        bottom: 0;
        left: 0;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        align-items: start;
    }

    .contact-container ul {
        display: inline-block;
        flex-direction: row;
        margin: 0;
    }

    .contact-icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        display: inline-block;
    }

    .contact-container li {
        padding-top: 17px;
        padding-bottom: 17px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 16px;
        transition: color var(--transition), stroke var(--transition);
    }

    .contact-container li:hover,
    .contact-container li:focus {
        color: var(--blue-hover-color);
        stroke: var(--blue-hover-color);
        cursor: pointer;
    }

    .logo-container {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 15px;
    }

    .menu-button {
        display: none;
    }

    .header-container {
        background-color: var(--background-white-color);
        width: 100%;
        border-bottom: 1px solid #ECECEC;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .request-section {
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/background-image-t.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .request-section {
            background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                 url(../images/background-image-t-2x.jpg);
        }
    }

    .request-section h1 {
        font-size: 26px;
        line-height: 42px;
        width: 30vw;
    }

    .request-section .request-button {
        width: 200px;
        height: 50px;
    }

     .what-we-do-title {
        text-align: left;
    }

    .list .what-we-do p {
        width: 354px;
    }

    .our-team-item  {
        padding: 0;
    }

    .team-image {
        width: 354px;
    }

    .regular-costumers-image {
        width: 226px;
    }

    .input-email {
        width: 450px;
        height: 50px;
    }

    .subscribe-button {
        width: 200px;
    }

    .global-footer-container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .filter {
        padding-bottom: 30px;
    }

    .filter-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 15px;
    }

    .filter-list .filter-image {
        width: 354px;
    }

    .social-title {
        padding-top: 0;
    }
    
}

/* Desktop */
@media screen and (min-width: 1158px) {
    .nav-container {
        color: var(--font-dark-grey-color);
        display: flex;    
        align-items: center;
        gap: 300px;
    }

    .main-navigation {
        display: flex;
        padding: 0;
        margin: 0;
        font-family: inherit;
        font-weight: 500;
    }  

    .main-navigation ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        gap: 50px;
    }  

    .main-navigation ul li {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .global-header a {
        padding-top: 15px;
         padding-bottom: 15px;
    }

    .main-navigation li {
        position: relative;
    }  

    .main-navigation a {
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--font-dark-grey-color);
        transition: color var(--transition);
    } 

    .main-navigation li:visited {
        color: var(--font-dark-grey-color);
        text-decoration: none;
    } 

    .main-navigation li a:hover,
    .main-navigation li a:focus {
        color: var(--blue-color);
        cursor: pointer;
    } 

    .main-navigation li a:active {
        color: var(--blue-color);
    }  

    .main-navigation .current {
        color: var(--blue-color);
    }   

    .main-navigation .after-link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--blue-hover-color);
        bottom: 0;
        left: 0;
    }

    .contact-container {
        display: flex;
        margin: 0;
        flex-direction: row;
        gap: 40px;
    }

    .contact-container ul {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .contact-container li {
        padding-top: 17px;
        padding-bottom: 17px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 16px;
        transition: color var(--transition), stroke var(--transition);
    }

    .contact-container li:hover,
    .contact-container li:focus {
        color: var(--blue-hover-color);
        stroke: var(--blue-hover-color);
        cursor: pointer;
    }  

    .contact-icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        display: inline;
    }

    .logo-container {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .menu-button {
        display: none;
    }

    .header-container {
        background-color: var(--background-white-color);
        width: 100%;
        border-bottom: 1px solid #ECECEC;
        gap: 93px;
        padding-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .request-section {
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/background-image-d.jpg);
        height: 65vh;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .request-section {
                background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/background-image-d-2x.jpg);
            }
    }

    .request-section h1 {
        font-size: 44px;
        line-height: 60px;
        width: 40vw;
    }

    .request-section .request-button {
        width: 200px;
        height: 50px;;
    }

    .section-container {
        padding: 60px 15px;
    }

    .section-container .list .what-we-do .what-we-do-title {    
        text-align: left;
    }

    .list .what-we-do {
        flex-basis: calc((100%-120px)/4);
        color: inherit;
        font-family: inherit;
        line-height: 24px;
        margin: 0;
    }

    .list .what-we-do p {
        width: 270px;
    }
    
    .section-container .list {
        display: flex;
        gap: 30px;
        padding-left: 0;
        margin: 0;
        flex-wrap: nowrap;
    }
    
    .section-container .list .images {
        width: 100%;
        line-height: 1;
        padding: 0;
        display: block;
        position: relative;
    }

    .our-team-container .our-team-list {
        flex-wrap: nowrap;
    }

    .team-image {
        width: 270px;
    }

    .regular-costumers-image {
        width: 170px;
    }

    h2 {
        font-size: 36px;
    }

    .global-footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 93px;  
    }

    .global-footer .address-container {
        display: block;
    }

    .logo-footer-container {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .social-footer-container {
        padding-left: 40px;
    }

    .social-title {
        text-align: left;
    }

    .signup-container {
        gap: 12px;
        padding-top: 20px;
        flex-direction: row;
    }

    .subscribe-title {
        display: block;
    }

    .input-email {
        width: 350px;
    }

    .filter {
        padding-bottom: 50px;
    }

    .filter-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
    }

    .filter-list .filter-image {
        width: 370px;
    }

    #images-section {
        display: block;
    }

    h2 {
        padding-top: 94px;
        padding-bottom: 50px;
    }

    .section-container {
        padding-bottom: 94px;
        padding-top: 50px;

    }

    .our-team-container {
        padding-bottom: 94px;
    }

    .portofolio-section {
        padding-top: 94px;
        padding-bottom: 94px; 
    }
}

